#root {
  background-color: #1B1D1F;
  width: 100vw;
  min-height: 100vh;
  z-index: -100000;
}

.main {
  min-height: 100vh;
  width: 100%;
  max-width: 1280px;
  background-color: #111315;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  position: relative;
}

.background-img {
  height: 300px;
  width: 100%;
  object-fit: cover;
}

.menu {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #1B1D1F;
  padding: 0px 80px; 
  border-radius: 10px;
}

.menu-header {
  background-image: url(/vector.svg);
  background-repeat: no-repeat;
  background-position:right;
  background-position: top right;
  padding-top: 80px;
  margin-top: 30px;
  text-align: center;
}

.header-text {
  margin: 0;
  font-size: 2.5em;
}

.text {
  color: #6F757C;
  font-weight: 500;
}

.btn-container button {
  margin: 0px 5px;
}