#root {
  background-color: #1B1D1F;
  width: 100vw;
  min-height: 100vh;
  z-index: -2;
}

.main {
  min-height: 100vh;
  width: 100%;
  max-width: 1280px;
  background-color: #111315;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: relative;
  z-index: 0;
}

.background-img {
  height: 300px;
  width: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  z-index: -1;
}

.menu {
  margin: 80px 120px;
  background-color: #1B1D1F;
  padding: 0px 80px; 
  border-radius: 10px;
  
}

.menu-header {
  background-image: url(/vector.svg);
  background-repeat: no-repeat;
  background-position:right;
  background-position: top right;
  padding-top: 80px;
  margin: 0 auto;
  margin-top: 30px;
  text-align: center;
  width: 60%;
  min-width: 300px;
}

.header-text {
  margin: 0;
  font-size: 2.5em;
}

.text {
  color: #6F757C;
  font-weight: 500;
}

.btn-container {
  padding-bottom: 20px;
}

.btn {
  margin: 0px 5px;
  font-weight: 600;
  background-color: #1B1D1F;
}

.active {
  background-color: #6F757C;
}

.coffee-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding-bottom: 80px;
}

.coffee-card {
  padding: 10px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.popular {
  position: absolute;
  top: 20px;
  left: 20px;
  color: #111315;
  padding: 3px 10px;
  font-size: .6em;
  background-color: #F6C768;
  border-radius: 15px;
  font-weight: 600;
}

.coffee-img {
  border-radius: 15px;
}

.name-price-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0px;
}

.coffee-name {
  margin: 0;
  font-size: 1.1em;
  font-weight: 600;
}

.price {
  font-size: .7em;
  font-weight: bold;
  background-color: #BEE3CC;
  color: #111315;
  padding: 3px 5px;
  border-radius: 5px;
}
.coffee-rating {
  font-weight: bold;
  padding: 0px 3px;
}

.ratings-container {
  display: flex;
  align-items: center;
  font-size: .9em;
}

.coffee-votes {
  color: #6F757C;
  font-weight: 600;
}

.btn:hover {
  cursor: pointer;
  color: #F6C768;
}

.available {
  color: #ED735D;
  font-weight: 600;
  font-size: .9em;
  margin-left: auto;
}